In [3]:

import os
import pandas as pd

In [4]:
data_df=pd.read_csv('survey.csv')
data_df.head()

,Timestamp,Age,Gender,Country,state,self_employed,family_history,treatment,work_interfere,no_employees,...,leave,mental_health_consequence,phys_health_consequence,coworkers,supervisor,mental_health_interview,phys_health_interview,mental_vs_physical,obs_consequence,comments
0,2014-08-27 11:29:31,37,Female,United States,IL,NaN,No,Yes,Often,6-25,...,Somewhat easy,No,No,Some of them,Yes,No,Maybe,Yes,No,NaN
1,2014-08-27 11:29:37,44,M,United States,IN,NaN,No,No,Rarely,More than 1000,...,Don't know,Maybe,No,No,No,No,No,Don't know,No,NaN
2,2014-08-27 11:29:44,32,Male,Canada,NaN,NaN,No,No,Rarely,6-25,...,Somewhat difficult,No,No,Yes,Yes,Yes,Yes,No,No,NaN
3,2014-08-27 11:29:46,31,Male,United Kingdom,NaN,NaN,Yes,Yes,Often,26-100,...,Somewhat difficult,Yes,Yes,Some of them,No,Maybe,Maybe,No,Yes,NaN
4,2014-08-27 11:30:22,31,Male,United States,TX,NaN,No,No,Never,100-500,...,Don't know,No,No,Some of them,Yes,Yes,Yes,Don't know,No,NaN

In [5]:
data_df.columns

Index(['Timestamp', 'Age', 'Gender', 'Country', 'state', 'self_employed',
       'family_history', 'treatment', 'work_interfere', 'no_employees',
       'remote_work', 'tech_company', 'benefits', 'care_options',
       'wellness_program', 'seek_help', 'anonymity', 'leave',
       'mental_health_consequence', 'phys_health_consequence', 'coworkers',
       'supervisor', 'mental_health_interview', 'phys_health_interview',
       'mental_vs_physical', 'obs_consequence', 'comments'],
      dtype='object')

In [6]:
clean_data_df=data_df[['Age','Gender','Country','tech_company','benefits','wellness_program','mental_health_consequence','mental_health_interview']]
clean_data_df.head()
clean_data_df['Age'].unique()
print(len(clean_data_df['Gender'].unique()))
clean_data_df['Gender'].unique()

49

array(['Female', 'M', 'Male', 'male', 'female', 'm', 'Male-ish', 'maile',
       'Trans-female', 'Cis Female', 'F', 'something kinda male?',
       'Cis Male', 'Woman', 'f', 'Mal', 'Male (CIS)', 'queer/she/they',
       'non-binary', 'Femake', 'woman', 'Make', 'Nah', 'All', 'Enby',
       'fluid', 'Genderqueer', 'Female ', 'Androgyne', 'Agender',
       'cis-female/femme', 'Guy (-ish) ^_^', 'male leaning androgynous',
       'Male ', 'Man', 'Trans woman', 'msle', 'Neuter', 'Female (trans)',
       'queer', 'Female (cis)', 'Mail', 'cis male', 'A little about you',
       'Malr', 'p', 'femail', 'Cis Man',
       'ostensibly male, unsure what that really means'], dtype=object)

### Female: 
Female,'female','Trans-female','Cis Female', 'F','Woman','f','Femake','woman','Female ','cis-female/femme','Trans woman','Female (trans)','Female (cis)', 'femail'

### Male:
'M','Male', 'male', 'm', 'Male-ish', 'maile','something kinda male?','Cis Male','Mal', 'Male (CIS)','Make','Guy (-ish) ^_^','male leaning androgynous','Male ', 'Man', 'msle','Mail', 'cis male', 'Malr','Cis Man','ostensibly male, unsure what that really means'

### Other:
'queer/she/they','non-binary','Nah', 'All', 'Enby','fluid', 'Genderqueer', 'Androgyne', 'Agender','Neuter','A little about you','p'

In [7]:
clean_data_df['Country'].unique()
gbc=clean_data_df.groupby('Country').count()
print(gbc)

                        Age  Gender  tech_company  benefits  wellness_program  \
Country
Australia                21      21            21        21                21
Austria                   3       3             3         3                 3
Bahamas, The              1       1             1         1                 1
Belgium                   6       6             6         6                 6
Bosnia and Herzegovina    1       1             1         1                 1
Brazil                    6       6             6         6                 6
Bulgaria                  4       4             4         4                 4
Canada                   72      72            72        72                72
China                     1       1             1         1                 1
Colombia                  2       2             2         2                 2
Costa Rica                1       1             1         1                 1
Croatia                   2       2             2         2                 2
Czech Republic            1       1             1         1                 1
Denmark                   2       2             2         2                 2
Finland                   3       3             3         3                 3
France                   13      13            13        13                13
Georgia                   1       1             1         1                 1
Germany                  45      45            45        45                45
Greece                    2       2             2         2                 2
Hungary                   1       1             1         1                 1
India                    10      10            10        10                10
Ireland                  27      27            27        27                27
Israel                    5       5             5         5                 5
Italy                     7       7             7         7                 7
Japan                     1       1             1         1                 1
Latvia                    1       1             1         1                 1
Mexico                    3       3             3         3                 3
Moldova                   1       1             1         1                 1
Netherlands              27      27            27        27                27
New Zealand               8       8             8         8                 8
Nigeria                   1       1             1         1                 1
Norway                    1       1             1         1                 1
Philippines               1       1             1         1                 1
Poland                    7       7             7         7                 7
Portugal                  2       2             2         2                 2
Romania                   1       1             1         1                 1
Russia                    3       3             3         3                 3
Singapore                 4       4             4         4                 4
Slovenia                  1       1             1         1                 1
South Africa              6       6             6         6                 6
Spain                     1       1             1         1                 1
Sweden                    7       7             7         7                 7
Switzerland               7       7             7         7                 7
Thailand                  1       1             1         1                 1
United Kingdom          185     185           185       185               185
United States           751     751           751       751               751
Uruguay                   1       1             1         1                 1
Zimbabwe                  1       1             1         1                 1

                        mental_health_consequence  mental_health_interview
Country
Australia                                      21                       21
Austria                                         3                        3
Bahamas, The                                    1                        1
Belgium                                         6                        6
Bosnia and Herzegovina                          1                        1
Brazil                                          6                        6
Bulgaria                                        4                        4
Canada                                         72                       72
China                                           1                        1
Colombia                                        2                        2
Costa Rica                                      1                        1
Croatia                                         2                        2
Czech Republic                                  1                        1
Denmark                                         2                        2
Finland                                         3                        3
France                                         13                       13
Georgia                                         1                        1
Germany                                        45                       45
Greece                                          2                        2
Hungary                                         1                        1
India                                          10                       10
Ireland                                        27                       27
Israel                                          5                        5
Italy                                           7                        7
Japan                                           1                        1
Latvia                                          1                        1
Mexico                                          3                        3
Moldova                                         1                        1
Netherlands                                    27                       27
New Zealand                                     8                        8
Nigeria                                         1                        1
Norway                                          1                        1
Philippines                                     1                        1
Poland                                          7                        7
Portugal                                        2                        2
Romania                                         1                        1
Russia                                          3                        3
Singapore                                       4                        4
Slovenia                                        1                        1
South Africa                                    6                        6
Spain                                           1                        1
Sweden                                          7                        7
Switzerland                                     7                        7
Thailand                                        1                        1
United Kingdom                                185                      185
United States                                 751                      751
Uruguay                                         1                        1
Zimbabwe                                        1                        1

In [11]:
#clean_data_df['tech_company'].describe()
clean_data_df['tech_company'].unique()
gbt=clean_data_df.groupby('tech_company').count()
print(gbt)

               Age  Gender  Country  benefits  wellness_program  \
tech_company
No             228     228      228       228               228
Yes           1031    1031     1031      1031              1031

              mental_health_consequence  mental_health_interview
tech_company
No                                  228                      228
Yes                                1031                     1031